* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    -webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    transition: transform 0.8s ease;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-align: center;
    padding: 0 0 10px 0;
}
h1 {
    text-transform: uppercase;
}
b {
    font-width: 900;
}
p {
    /*line-height: 1.5em;*/
}
body {
    background: url(../img/cover.png) center center fixed;
    background-size: cover;
}

/*******************************************************************************
* TEMPLATE FOR SECTION DIVIDER
*******************************************************************************/

/*******************************************************************************
* Sticky Top Navigation
*******************************************************************************/

.sticky {
    position: fixed;
}
.topNav {
    padding: 0px 0 0px 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eee;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.topNav * {
    font-size: 14px;
}
.topNav li {
    margin-top: 10px;
    margin-bottom: 5px;
}
.topNav .inlineList a{
    padding-bottom: 8px;
    border-bottom: 3px solid rgba(0,0,0,0);
}
.topNav .inlineList a:hover {
    border-color: black;
}

/*******************************************************************************
* Lists
*******************************************************************************/

ul.inlineList {
    padding-left: 0;
    margin-bottom: 3px;
}
.inlineList li {
    display: inline-block;
    padding: 0 0 0 0;
}
.inlineList a {
    padding: 11px;
    color: inherit;
}

/*******************************************************************************
* Display Banner
*******************************************************************************/
.displayBanner {
    color: white;
    padding: 150px 0 150px 0;
    /*height: 100vh;*/
    /*min-height: 400px;*/
}

/*******************************************************************************
* Sections
*******************************************************************************/

section {
    padding: 100px 0 100px 0;
    background-color: #fff;
}
section p{
    line-height: 1.5em;
}

/*******************************************************************************
* Dividers
*******************************************************************************/

.divider {
    height: 200px;
    /*background-color: #ddd;*/
}
#divider1, #divider3 {
    background: url(../img/coolgeo.png) center center fixed;
    background-size: cover;
}
#divider2 {
    background: url(../img/pomegranategeo.png) center center fixed;
    background-size: cover;
}
#divider4 {
    background: url(../img/orangegeo.png) center center fixed;
    background-size: cover;
}

/*******************************************************************************
* Footer
*******************************************************************************/

footer {
    padding: 10px 0 7px 0;
    background-color: #333;
    color: #fff;
}
footer * {
    font-size: 14px;
}
footer a:hover {
    color: black;
    background-color: #fff;
}

/*******************************************************************************
* Projects
*******************************************************************************/

.projectImage {
    -webkit-transform: translate(0px, 15px);
    -moz-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    width: 80%;
}
.projectImage:hover {
    /*-webkit-filter: drop-shadow(0px 12px 12px rgba(0,0,0,0.5));
    filter:         drop-shadow(0px 12px 12px rgba(0,0,0,0.5));*/
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    transform: translate(0px, 0);
}
.projectInfo {
    padding-top: 40px;
}
.projectInfo h2 {
    text-align: left;
}

/*******************************************************************************
* Section Navigations
*******************************************************************************/

.projectNav li,
.eduNav li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.projectNav a,
.eduNav a {
    cursor: pointer;
}
.projectNav a.selected,
.eduNav a.selected {
    border-bottom: 3px solid #000;
}
.projectNav a.notSelected:hover,
.eduNav a.notSelected:hover {
    border-bottom: 3px solid #ddd;
}

/*******************************************************************************
* Contact
*******************************************************************************/

#contact {
    min-height: 500px;
}

/*******************************************************************************
* Other
*******************************************************************************/

.meCircle {
    border: 2px solid #333;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
}

.centerVertically {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centeredList {
    list-style: none;
    padding-left:0;
    text-align: center;
}

p.subtitle {
    color: #666;
    font-style: italic;
    margin-bottom: 1.5em;
}

.threeCols {
-webkit-columns: 300px 3;
   -moz-columns: 300px 3;
        columns: 300px 3;
}










/* END */
